﻿.create-seek {
border: 1px;
border-style: solid;
border-radius: 5px;
border-color: #D2D3D3;
width: 300px;
display: block;
margin: 30px;
padding: 10px;
transform-origin:center;
position: relative;
left: 25%;
}

.input-seek.input-group {
  width: 93%;
  margin:  10px;
}

.login {
    background-color:black;
    color:white;
}

.login :hover {
    background-color:black;
    color:white;
}