﻿@model IEnumerable<ShoeShop.Models.Category>
<script>
    $(document).ready(function () {
        $(".header .total_count_of_order").html($(".header #order_detail_count").val());
        $(".header .total_price_of_order").html("$ " + $(".header #order_detail_price").val());
    });

</script>
<div class="header">
    <div class="container">
        <div class="header-top">
            <div class="logo pointer">
                <a onclick="location.href = '@Url.Action("Index","Home")'" >N-AIR</a>
            </div>
            <div class="login-bars">
                @*<a class="btn btn-default log-bar" onclick="location.href= '@Url.Action("Login", "Account")'" role="button">Login</a>
                <a class="btn btn-default log-bar" onclick="location.href= '@Url.Action("Register", "Account")'" role="button">SignUp</a>*@
                @Html.Partial("_LoginPartial")
                <input id="order_detail_count" value=@ViewBag.result.count hidden>
                <input id="order_detail_price" value=@ViewBag.result.total hidden>
                <div class="cart box_1">
                    <a onclick="location.href= '@Url.Action("CheckOut", "Order")'">
                        <h3>
                            <div class="total pointer">
                                <span class="total_price_of_order">$ 0.00</span>(<span id="total_count_of_order" class="total_count_of_order">0</span>)
                            </div>
                        </h3>
                    </a>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!---menu-----bar--->
        <div class="header-botom">
            <div class="content white">
                <nav class="navbar navbar-default nav-menu" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <!--/.navbar-header-->

                    <div class="collapse navbar-collapse collapse-pdng" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav nav-font">
                            
                            <li><a href="#">Home</a></li>

                            @foreach (var category in Model)
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@category.name<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        
                                        @foreach (var type in category.Types)
                                        {
                                            <li><a href='@Url.Action("Index", "Categoies", new { type = type.id})'>@type.name</a></li>
                                            @*<li class="divider"></li>*@   
                                        }

                                    </ul>
                                </li>
                            }
                            <li><a href="contact.html">Catch</a></li>
                            <div class="clearfix"></div>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!--/.navbar-collapse-->
                    <div class="clearfix"></div>
                </nav>
                <!--/.navbar-->
                <div class="clearfix"></div>
            </div>
            <!--/.content--->
        </div>
        <!--header-bottom-->
    </div>
</div>
