﻿<div class="sub-news">
    <div class="container">
        <form>
            <div id="searchProduct"></div>
            <input type="text" class="sub-email" name="txtSearch" id="txtSearch" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
            <a class="btn btn-default subs-btn" onclick="location.href='@Url.Action("SearchProduct", "Home")?text=' + document.getElementById('txtSearch').value"  role="button">SEARCH</a>

        </form>
    </div>
</div>