﻿@model IEnumerable<ShoeShop.Models.Product>

<div class="container">
    @foreach (var p in Model)
    {
        <div class="col-md-4 grid-stn simpleCart_shelfItem">
            <!-- normal -->
            <div class="ih-item square effect3 bottom_to_top">
                <div class="bottom-2-top">
                    @if (@p.image != null)
                    {
                        <div class="img" style="width: 300px; height: 300px; overflow: hidden; position: relative;"><img src="~/Content/images/@p.image.Split(',')[0]" alt="/" class="img-responsive gri-wid" style=" position: absolute; margin: auto; min-height: 100%; min-width: 100%; left: -100%; right: -100%; top: -100%; bottom: -100%;"></div>
                    }
                    <div class="info">
                        <div class="pull-left styl-hdn">
                            <h3>@p.name</h3>
                        </div>
                        <div class="pull-right styl-price">
                            <p data-id=@p.id><a href="#" class="item_add btn-buynow-index"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">$@p.price</span></a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end normal -->
            <div class="quick-view pointer">
                <a onclick="location.href= '@Url.Action("Index", "Product", new { id=@p.id })'">View Details</a>
            </div>
        </div>
    }
    <div class="clearfix"></div>
</div>