﻿@{
    ViewBag.Title = "Home Page";

    @Html.Partial("_Search")

    @Html.Partial("_Slider")
}

@model IEnumerable<ShoeShop.Models.Product>

<div class="shop-grid">
    <div class="feel-fall">
        <div class="container">
            <div class="pull-left fal-box">
                <div class=" fall-left">
                    <h3>Fall</h3>
                    <img src="~/Content/images/f-l.png" alt="/" class="img-responsive fl-img-wid">
                    <p>Inspiration and innovation<br> for every athlete in the world</p>
                    <span class="fel-fal-bar"></span>
                </div>
            </div>
            <div class="pull-right fel-box">
                <div class="feel-right">
                    <h3>Feel</h3>
                    <img src="~/Content/images/f-r.png" alt="/" class="img-responsive fl-img-wid">
                    <p>Inspiration and innovation<br> for every athlete in the world</p>
                    <span class="fel-fal-bar2"></span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <div id="showProduct"> @Html.Partial("_ShowProduct", Model) </div>


    <script type="text/javascript">
        function searchProduct(text) {
            $("#showProduct").load("@Url.Action("SearchProduct", "Home")", { text: text });
        }

        $(".btn-buynow-index").on("click", function () {
            $(this).attr("href", '@Url.Action("Create", "OrderDetail")' + "?product_id=" + $(this).parent().data("id") + "&&qty=1&&size=1");
        });
    </script>
</div>