﻿@model ShoeShop.Models.OrderDetail

@{
    ViewBag.Title = "CheckOut";
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>N-Air a E-commerce category Flat Bootstrap Responsive Website Template | Checkout :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="N-Air Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta charset utf="8">
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

    <!--fonts-->
    <!--bootstrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!--shop-kart-js-->
    <script src="js/simpleCart.min.js"></script>
    <!--default-js-->
    <script src="js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="js/bootstrap.min.js"></script>
    <!--script-->
    <!-- FlexSlider -->
    <script src="js/imagezoom.js"></script>
    <script defer src="js/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

    <script>
            // Can also be used with $(document).ready()
            $(window).load(function() {
              $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
              });
            });
    </script>
    <!-- //FlexSlider-->
</head>
<body>
    
    <div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a class="pointer" onclick="location.href = '@Url.Action("Index","Home")'">Home</a></li>
                <li><a href="#">Products</a></li>
                <li class="active">CART</li>
            </ol>
        </div>
    </div>
    <!-- check-out -->
    <div class="check">
        <div class="container">
            <div class="col-md-3 cart-total">
                <a class="continue pointer" onclick="location.href= '@Url.Action("Index", "Home")'">Continue to basket</a>
                <div class="price-details">
                    <h3>Price Details</h3>
                    <span>Total</span>
                    <span class="total1">@ViewBag.total_price</span>
                    <span>Delivery Charges</span>
                    <span class="total1">@ViewBag.delivery_charges</span>
                    <div class="clearfix"></div>
                </div>
                <hr class="featurette-divider">
                <ul class="total_price">
                    <li class="last_price"> <h4>TOTAL</h4></li>
                    <li class="last_price"><span>@(ViewBag.total_price + ViewBag.delivery_charges)</span></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"></div>
                <a class="order pointer" onclick="location.href= '@Url.Action("PlacOrder", "OrderDetail", new { id = @ViewBag.orderID })'">Place Order</a>
            </div>
            <div class="col-md-9 cart-items">
                <h1>My Shopping Bag @ViewBag.number_record</h1>
                <script>
                    $('body').on('click', '.close1', function(c){
                        $(this).attr("href", '@Url.Action("Remove", "OrderDetail")' + '?oId=' + $(this).parent().data('oid') + '&&pId=' + $(this).parent().data('pid'));
                    });
                </script>
                @foreach (var item in ViewBag.order_details) { 
                    <div class="cart-header">
                        <div class="product_id" data-pid=@item.productId data-oid=@item.orderId>
                            <a class="close1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </div>
                        <div class="cart-sec simpleCart_shelfItem">
                            <div class="cart-item cyc">
                                @if (@item.Product.image != null)
                                {
                                    <img src="~/Content/images/@item.Product.image.Split(',')[0]" class="img-responsive" alt="" />
                                }
                            </div>
                            <div class="cart-item-info">
                                <ul class="qty">
                                    <li><p>Size : @item.Size1.name</p></li>
                                    <li><p>Qty : @item.quantity</p></li>
                                    <li><p>Price each : $@item.Product.price</p></li>
                                </ul>
                                <div class="delivery">
                                    <span>Delivered in 2-3 bussiness days</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                }

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
   
</body>
</html>

