﻿@model IEnumerable<ShoeShop.Models.Category>

<div class="clearfix"></div><section class="sky-form">
    <div class="product_right">
        <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categories</h4>

        @foreach (var category in Model)
        {
            <div class="tab-@category.id">
                <ul class="place">
                    <li class="sort">@category.name</li>
                    <li class="by"><img src="~/Content/images/do.png" alt=""></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="single-bottom">
                    @foreach (var type in category.Types)
                    {
                        <a href="#" onclick="filterProductWithType(@type.id)"><p>@type.name</p></a>
                    }
                    
                </div>
            </div>
        }

        <!--script-->

        @Html.Action("GetAllBrand", "Categoies")


        <script>
            $(document).ready(function () {
                $(".tab-1 .single-bottom").hide();
                $(".tab-2 .single-bottom").hide();
                $(".tab-3 .single-bottom").hide();
                $(".tab-4 .single-bottom").hide();
                $(".tab-5 .single-bottom").hide();

                $(".tab-1 ul").click(function () {
                    $(".tab-1 .single-bottom").slideToggle(300);
                    $(".tab-2 .single-bottom").hide();
                    $(".tab-3 .single-bottom").hide();
                    $(".tab-4 .single-bottom").hide();
                    $(".tab-5 .single-bottom").hide();
                })
                $(".tab-2 ul").click(function () {
                    $(".tab-2 .single-bottom").slideToggle(300);
                    $(".tab-1 .single-bottom").hide();
                    $(".tab-3 .single-bottom").hide();
                    $(".tab-4 .single-bottom").hide();
                    $(".tab-5 .single-bottom").hide();
                })
                $(".tab-3 ul").click(function () {
                    $(".tab-3 .single-bottom").slideToggle(300);
                    $(".tab-4 .single-bottom").hide();
                    $(".tab-5 .single-bottom").hide();
                    $(".tab-2 .single-bottom").hide();
                    $(".tab-1 .single-bottom").hide();
                })
                $(".tab-4 ul").click(function () {
                    $(".tab-4 .single-bottom").slideToggle(300);
                    $(".tab-5 .single-bottom").hide();
                    $(".tab-3 .single-bottom").hide();
                    $(".tab-2 .single-bottom").hide();
                    $(".tab-1 .single-bottom").hide();
                })
                $(".tab-5 ul").click(function () {
                    $(".tab-5 .single-bottom").slideToggle(300);
                    $(".tab-4 .single-bottom").hide();
                    $(".tab-3 .single-bottom").hide();
                    $(".tab-2 .single-bottom").hide();
                    $(".tab-1 .single-bottom").hide();
                })
            });
        </script>
        <!-- script -->


</section>

