﻿@model IEnumerable<ShoeShop.Models.Produce>

<h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categories</h4>
@foreach (var producer in Model)
{
    <ul class="place">
        <li class="sort" style="color: black; font-weight: bold;">@producer.name</li>
        <div class="clearfix"> </div>
    </ul>
}