﻿@model IEnumerable<ShoeShop.Models.Product>

<div class="col-md-9 grid-gallery">

    @foreach (var product in Model)
    {
        <div class="col-md-4 grid-stn simpleCart_shelfItem">
            <!-- normal -->
            <div class="ih-item square effect3 bottom_to_top">
                <div class="bottom-2-top">
                    <div class="img"><img src="~/Content/images/@product.image.Split(',')[2]" alt="/" class="img-responsive gri-wid"></div>
                    <div class="info">
                        <div class="pull-left">
                            <h3>@product.name</h3>
                        </div>
                        <div class="pull-right styl-price">
                            <p><a href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">$@Math.Floor(product.price.Value)</span></a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end normal -->
            <div class="quick-view pointer">
                <a href='@Url.Action("Index", "Product", new { id = @product.id })'>Quick view</a>
            </div>
        </div>
    }

    <div class="clearfix"></div>


    <nav aria-label="...">
        <ul class="pager">
            <li class="previous disabled"><a href="" onclick="paginationProductWithType(-1)"><span aria-hidden="true">&larr;</span> Older</a></li>
            <li class="next"><a href="" onclick="paginationProductWithType(1)">Newer <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>


