﻿@model ShoeShop.Models.Type

<!DOCTYPE html>
<html lang="en">
<head>
    <title>N-Air a E-commerce category Flat Bootstrap Responsive Website Template | Products :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="N-Air Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta charset utf="8">
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

    <script>
            // Can also be used with $(document).ready()
            $(window).load(function() {
              $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
              });
            });
    </script>
    <!-- //FlexSlider-->
</head>
<body>
   
    <div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active" style="text-transform: uppercase;">@Model.Category.name</li>
                <li class="active" style="text-transform: uppercase;">@Model.name</li>
            </ol>
        </div>
    </div>

    <div class="products-gallery">
        <div class="container">
            <div id="productWithType">
                @Html.Action("ProductWithType", "Categoies", new { type = 0 })
            </div>

            <script type="text/javascript">
                $(document).ready(configController);

                var page = 1;
                var type = 0;

                function configController() {
                    $("#productWithType").load("@Url.Action("ProductWithType","Categoies")", { type: @Model.id })
                    type = @Model.id
                }

                function filterProductWithType(t) {
                    page = 1;
                    type = t;
                    $("#productWithType").load("@Url.Action("ProductWithType","Categoies")", { type: type });

                }

                function paginationProductWithType(value) {
                    var paging = page + value;
                    if (paging > 0) {
                        $("#productWithType").load("@Url.Action("ProductWithType","Categoies")", { type: type, page: paging });
                        page = paging;
                    }
                }

            </script>

            <div class="col-md-3 grid-details">
                <div class="grid-addon">
                    
                    <!---->
                    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
                    @*<script type='text/javascript'>
                        //<![CDATA[
                        $(window).load(function () {
                            $("#slider-range").slider({
                                range: true,
                                min: 0,
                                max: 400000,
                                values: [2500, 350000],
                                slide: function (event, ui) {
                                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                                }
                            });
                            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

                        });//]]>

                    </script>*@

                    <div class="clearfix"></div></div>
                    @Html.Action("GetAllType","Categoies")
                    <div class="clearfix"></div></div>
               
                    @*@Html.("ProductWithType", "Categoies", new { type = Model.id })*@
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    
</body>
</html>
